.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Card {
    width: 163px;
    height: 227px;
    border: 2px solid #a6955a;
}

.Card img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.boxTitle {
    width: 130px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.title {
    text-align: center;
    color: #a6955a;
}